# Python virtual environment
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings (optional)
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Logs and local config
*.log

# Test, coverage, and profiling tools
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# macOS files
.DS_Store

# Flask instance folder
instance/
